@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background: #14171a;
    color: white;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #09d3ac;
    outline: 1px solid slategrey;
}

a, button {
    cursor: pointer;
    text-decoration: none;
    color: unset;
}

svg {
    display: block;
}